/* Base CSS */
html {
  font-size: 18px;
}

body {
  line-height: 1.4em;
  font-family: helvetica;
}

div {
  display: block;
}
.container {
  max-width: 960px;
  margin: 0 auto;
}

/* Header and Nav */
header {
  background-image: url("../images/glasses-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 30rem;
  padding-top: 1rem;
}

nav {
  padding: 1rem 0;
  background-color: cadetblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

nav div {
  display: flex;
  align-items: center;
}

nav img {
  height: 1.5rem;
  margin-left: 2rem;
  margin-right: 1rem;
}

ul {
  margin-right: 1rem;
}

ul li {
  display: inline;
  padding: 0 1rem;
}

header .flex {
  justify-content: flex-end;
}

.flex {
  display: flex;
}

.banner {
  padding: 2.5rem 5rem;
  margin-top: 10rem;
  margin-right: -2rem;
  background-color: white;
  font-weight: bold;
  line-height: 1.2rem;
  font-size: 2rem;
}

/* Icons */
.icons {
  display: flex;
  justify-content: center;
}
.icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 5rem;
  margin: 3rem;
  height: 8rem;
}

.icon img.paper-icon {
  width: 3.5rem;
}

.icon img.ruler {
  width: 5rem;
}

.icon img.truck {
  width: 5rem;
}

/* Icon Supporting Info */
.title {
  background-color: cadetblue;
  font-weight: bold;
  color: white;
  padding: 0.5rem 1.25rem;
  margin-bottom: 1rem;
  max-width: 10rem;
}

.info {
  width: 35%;
  margin-right: 5%;
  margin-bottom: 5rem;
}

/* Footer */
footer {
  background-color: azure;
  padding: 4rem 0;
  display: flex;
  align-items: center;
}

footer img {
  height: 1.5rem;
  padding-left: 4rem;
  padding-right: 1rem;

}

/* Media Queries for 1024px */

/* Header */
@media only screen and (max-width: 1024px) {
  header {
    height: 22rem;
    padding-top: 0;
  }

/* Banner */
  .banner {
    padding: 0.75rem 4rem;
    margin-top: 5rem;
    margin-right: 2rem;
    font-size: 1.33rem;
  }
}

/* Media Queries for 640px */

/* Header */
@media only screen and (max-width: 640px) {
  header {
    height: 17rem;
    padding-top: 0;
    background-position: 20%;
  }

/* Banner */
  .banner {
    padding: 1rem 0;
    margin: 9rem 0 0;
    font-size: 1rem;
    text-align: center;
    width: 100%
  }
  .menu {
    display: none;
  }

/* Nav */
  nav span {
    display: none;
  }

/* Icons */
  .icons {
    flex-direction: column;
    align-items: center;
    margin-top:3rem;
  }
  .icon {
    font-size: 0.77rem;
    height: auto;
    margin: .77rem;
  }
  .icon img {
    margin-bottom: 0.77rem;
  }

/* Icon Supporting Info */
  .info {
    width: auto;
  }
  .info .title {
    width: 100%;
    max-width: 100%;
    text-align: center;
    padding-left: 0;
  }
  .info p {
    font-size: 0.77rem;
    margin-top: 1rem;
    padding-left: 0.5rem;
  }
  .info {
    margin-bottom: 4rem;
  }

/* Footer */
  footer span {
    display: none;
  }
  footer {
    justify-content: center;
  }
  footer img {
    padding: 0;
  }
}

/* Phone Container */
@media only screen and (min-width: 640px) {
  .phone-container {
    display: none;
  }
}
